body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

p {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background: url("Lian 2.jpg") no-repeat center;
  background-attachment: fixed;
  background-clip: text;
  font-size: 8px;
  line-height: 8px;
  text-align: justify;
  -webkit-text-fill-color: rgba(225, 225, 225, 0);
}
